.title {
  margin-right: 130px;
  margin-bottom: 46px;
  h1 {
    color: black;
    font-size: 72px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 35px;
    font-weight: normal;
    font-family: 'Agrandir GrandLight';
  }

  h3 {
    color: black;
    font-size: 24px;
    margin: 0;
    font-weight: normal;
  }

  .ellipse {
    /*to be edited*/
    margin-left: 530px;
    margin-top: -125px;
    height: 80px;
    width: 286px;

    border: 3px solid #27e8d9;
    box-sizing: border-box;
    transform: rotate(-6.84deg);
    border-radius: 50%;
  }
}
