.growth-page .exchange-lend .list .auctioneer.row {
  background-color: #656e7e;
}

.growth-page .exchange-lend .list .auctioneer.row p {
  color: white;
}

.growth-page .exchange-lend .list .auctioneer.row button {
  background-color: #081831;
}

.growth-page .exchange-lend .list .auctioneer.row button:hover {
  background-color: #061225;
}

/*.growth-page .exchange-lend .list .auctioneer.row .name,
.growth-page .exchange-lend .auction-tab .list .header p:first-child {
  width: 150px;
}*/
