.modal.badgeModal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .badges-modal {
  align-items: flex-start;
}

.modal .badges-modal .exit {
  width: calc(100% + 15px);
}

.modal .badges-modal span {
  color: #656e7e;
  font-size: 14px;
}

.modal .badges-modal .row {
  display: flex;
}

.modal .badges-modal .row h2 {
  margin: 0;
  font-size: 64px;
}

.modal .badges-modal .row h5 {
  margin: 0;
  font-size: 31px;
  margin-top: 10px;
  margin-left: 10px;
}

.modal .badges-modal .appbar span,
.modal .badges-modal .badges-list .badge-row span {
  color: #081831;
}

.modal .badges-modal .badges-list {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 30px 30px 30px;
  overflow-y: auto;scrollbar-width: none;
  background-color: #eef1f4;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: -30px;
  margin-bottom: -35px;
}

.modal .badges-modal .badges-list .badge-row {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 30px);
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.modal .badges-modal .badges-list .badge-row .left,
.modal .badges-modal .badges-list .badge-row .right {
  display: flex;
  align-items: center;
}

.modal .badges-modal .badges-list .badge-row .hex {
  width: 32px;
  height: 36px;
}
