.filters {
  width: 100%;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  margin-bottom: 65px;

  .row {
    display: flex;
    width: 100%;

    &:last-child {
      padding-bottom: 10px;
    }

    &:first-child {
      button {
        margin-bottom: 0;
        margin-left: 15px !important;
        line-height: 55px !important;
        font-size: 18px;
        height: 56px;
        &:first-child {
          min-width: 200px;
        }
      }
    }
  }

  .search {
    border: 1.5px solid #99a1b3;
    box-sizing: border-box;
    border-radius: 11.36px;
    height: 56px;
    width: 100%;
    flex-grow: 1;
    margin-right: 15px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;

    &.nomargin {
      margin-right: 0px;
    }

    svg {
      width: 25px;
      height: 25px;
      color: #99a1b3;
    }

    input {
      font-size: 14px;
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;

      &::placeholder {
        color: #99a1b3;
      }
    }
  }

  .icons {
    justify-content: space-between;
    margin-top: 42px;

    .mediaRow {
      display: flex;
      align-items: center;

      .slideLeft,
      .slideRight {
        background-color: transparent;
        padding: 0;
        margin: 0;
        outline: none;
        margin: 0px 10px;
        opacity: 0.5;

        img {
          width: 5px;
          height: 10px;
        }
      }

      .slideLeft {
        transform: rotate(180deg);
      }

      .scrollable {
        display: flex;
        align-items: center;
        max-width: calc(100vw - 72px * 2 - 180px * 2 - 26px - 40px * 2 - 80px);
        overflow: hidden;
        scroll-behavior: smooth;
      }
    }

    .mediaButton {
      border: 2px solid #99a1b3;
      box-sizing: border-box;
      border-radius: 57px;
      padding: 5px 15px;
      background-color: white;
      color: #99a1b3;
      flex-grow: 1;
      text-align: center;
      margin: 0;
      margin-right: 20px;
      white-space: nowrap;
      cursor: pointer;
      font-size: 14px;
      display: flex;
      align-items: center;

      &.selected {
        background-color: black;
        border-color: black;
        color: white;
      }

      img {
        width: 30px;
        height: 30px;
        margin-left: 6px;
      }

      &:disabled {
        opacity: 0.4;
      }
    }

    .sliderContainer {
      display: flex;
      flex-direction: column;

      label {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 104.5%;
        color: #707582;
        margin-bottom: 8px;
      }

      .slider {
        padding: 4px;
        width: 172px;

        .MuiSlider-rail {
          height: 6px;
          border-radius: 3px;
          color: #e0e4f3;

          .MuiSlider-track {
            background: linear-gradient(270deg, #ff254c -19.66%, #f4963e 100%);
          }

          .MuiSlider-thumb {
            background: #ffffff;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
            width: 14px;
            height: 14px;
            border-radius: 7px;
          }
        }
      }

      &:last-child {
        margin-left: 20px;
        .slider {
          .MuiSlider-track {
            background: linear-gradient(270deg, #56dc53 -68.1%, #cfe967 100%);
          }
        }
      }
    }
  }
}
