.titleCommunitiesModal {
  font-size: 24px;
  font-weight: bold;
  color: rgb(8, 24, 49);
}
.subTitleCommunitiesModal {
  font-size: 14px;
  font-weight: bold;
  color: rgb(8, 24, 49);
  margin-top: 40px;
  margin-bottom: 12px;
}
.flexRowInputsCommunitiesModal {
  display: flex;
}
.flexCenterCenterRowInputsCommunitiesModal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.flexStartCenterRowInputsCommunitiesModal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.infoHeaderCommunitiesModal {
  font-size: 18px;
  font-weight: 400;
  color: rgb(101, 110, 126);
}
.infoIconCommunitiesModal {
  width: 12px;
  height: 12px;
  margin-left: 3px;
  margin-top: -3px;
}

.selectorCommunitiesModal {
  border: 1px solid #e0e4f3 !important;
  background-color: rgb(227, 233, 239);
  border-radius: 16px;
  margin-top: 7px;
}
.selectorCommunitiesModal .MuiFormControl-root {
  width: 100%;
}
.selectCommunitiesModal {
  height: 50px;
  background-color: transparent;
  color: rgb(8, 24, 49) !important;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 14px !important;
  font-weight: 400;
  width: 100% !important;
}
.selectorCommunitiesModal .MuiInput-underline:before {
  border: 0 !important;
}
.selectorCommunitiesModal .MuiInput-underline:after {
  border: 0 !important;
}
.selectorCommunitiesModal .MuiSelect-icon {
  padding-right: 15px;
}
.buttonCreateCommunitiesModal {
  height: 50px;
  border-radius: 25px;
  background-color: rgb(100, 200, 158);
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 50px;
  float: right;
}

.textFieldCommunitiesModal {
  height: 46px;
  background-color: rgba(227, 233, 239, 0.3);
  border-radius: 16px;
  border: 1px solid hsla(212, 25%, 60%, 0.3) !important;
  margin-top: 8px;
  color: rgb(101, 110, 126);
  font-size: 14px;
  font-weight: 400;
  padding-left: 20px;
  margin-bottom: 19px;
}
.textFieldCommunitiesModal:focus {
  outline: none;
}
.textFieldCommunitiesModal::placeholder {
  outline: none;
  color: rgba(101, 110, 126, 0.5);
  font-size: 14px;
  font-weight: 400;
}
