.digital_buttons {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  max-width: 1400px;

  .buy_fraction {
    background: #181818;
    color: #fff;
    font-size: 16px;
    padding: 9.5px 26px;
    margin-right: 10px;
  }
  .sell_fraction {
    background: transparent;
    border: 1px solid #151414;
    color: #151414;
    font-size: 16px;
    padding: 9.5px 26px;
    margin-right: 10px;
  }
  .share_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #181818;
    border: 2px solid #ffffff;
    border-radius: 18px;
    height: 32px;
    min-width: 100px;
    width: 100px;
    justify-content: space-evenly;
    padding: 0px 15px;
    color: #fff;
    margin-left: auto;
  }
}